!docroot/typo3conf/AdditionalConfiguration.php
!docroot/typo3conf/LocalConfiguration.php
!docroot/typo3conf/PackageStates.php
/vendor
/typo3
/index.php
/typo3conf
/docroot
/typo3_src
.idea
/html
/docroot/typo3conf/ENABLE_INSTALL_TOOL